{% extends "::base.html.twig" %}

{% block title %}AppBundle:Opportunity:edit{% endblock %}

{% block body %}
  <div class="content">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
      {{ form_row(form.name) }}
    </div>

    <div class="row">
      {{ form_row(form.contractValue) }}
    </div>

    <div class="row">
      {{ form_row(form.company) }}
    </div>

    <div class="row">
      {{ form_row(form.partner) }}
    </div>

    <div class="row">
      {{ form_row(form.submit) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>

{% endblock %}
